<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Mycat</title>
</head>

<body>

<button type="button" onclick="addCompanyData()">插入Company数据</button>
<button type="button" onclick="addGoodsData()">插入Goods数据</button>
<button type="button" onclick="addHotNewsData()">插入HotNews数据</button>
<button type="button" onclick="addOrdersData()">插入Order数据</button>
<button type="button" onclick="addTravelRecordData()">插入TravelRecord数据</button>
<button type="button" onclick="addCustomerData()">插入Customer数据</button>
<br/><br/>

<button type="button" onclick="queryCompanyData()">查询Company数据</button>
<button type="button" onclick="queryGoodsData()">查询Goods数据</button>
<button type="button" onclick="queryHotNewsData()">查询HotNews数据</button>
<button type="button" onclick="queryOrdersData()">查询Order数据</button>
<button type="button" onclick="queryTravelRecordData()">查询TravelRecord数据</button>
<button type="button" onclick="queryCustomerData()">查询Customer数据</button>
<br/><br/>

<textarea id="result" rows="50" cols="150">
</textarea>

<script src="/jquery.min.js"></script>
<script src="/bootstrap.min.js"></script>


<script>
  function addCompanyData() {
    $.ajax({
      url: '/add/company',
      type: 'get',
      dataType: 'json',
      success: function (data) {
        console.log(data);
        $("#result").append(JSON.stringify(data) + "\n");
      }
    });
  }

  function addGoodsData() {
    $.ajax({
      url: '/add/goods',
      type: 'get',
      dataType: 'json',
      success: function (data) {
        console.log(data);
        $("#result").append(JSON.stringify(data) + "\n");
      }
    });
  }

  function addHotNewsData() {
    $.ajax({
      url: '/add/hotnews',
      type: 'get',
      dataType: 'json',
      success: function (data) {
        console.log(data);
        $("#result").append(JSON.stringify(data) + "\n");
      }
    });
  }

  function addOrdersData() {
    $.ajax({
      url: '/add/orders',
      type: 'get',
      dataType: 'json',
      success: function (data) {
        console.log(data);
        $("#result").append(JSON.stringify(data) + "\n");
      }
    });
  }

  function addTravelRecordData() {
    $.ajax({
      url: '/add/travelrecord',
      type: 'get',
      dataType: 'json',
      success: function (data) {
        console.log(data);
        $("#result").append(JSON.stringify(data) + "\n");
      }
    });
  }

  function addCustomerData() {
    $.ajax({
      url: '/add/customer',
      type: 'get',
      dataType: 'json',
      success: function (data) {
        console.log(data);
        $("#result").append(JSON.stringify(data) + "\n");
      }
    });
  }

  function queryCompanyData() {
    $.ajax({
      url: '/query/company',
      type: 'get',
      dataType: 'json',
      success: function (data) {
        console.log(data);
        $("#result").append(JSON.stringify(data) + "\n");
      }
    });
  }

  function queryGoodsData() {
    $.ajax({
      url: '/query/goods',
      type: 'get',
      dataType: 'json',
      success: function (data) {
        console.log(data);
        $("#result").append(JSON.stringify(data) + "\n");
      }
    });
  }

  function queryHotNewsData() {
    $.ajax({
      url: '/query/hotnews',
      type: 'get',
      dataType: 'json',
      success: function (data) {
        console.log(data);
        $("#result").append(JSON.stringify(data) + "\n");
      }
    });
  }

  function queryOrdersData() {
    $.ajax({
      url: '/query/orders',
      type: 'get',
      dataType: 'json',
      success: function (data) {
        console.log(data);
        $("#result").append(JSON.stringify(data) + "\n");
      }
    });
  }

  function queryTravelRecordData() {
    $.ajax({
      url: '/query/travelrecord',
      type: 'get',
      dataType: 'json',
      success: function (data) {
        console.log(data);
        $("#result").append(JSON.stringify(data) + "\n");
      }
    });
  }

  function queryCustomerData() {
    $.ajax({
      url: '/query/customer',
      type: 'get',
      dataType: 'json',
      success: function (data) {
        console.log(data);
        $("#result").append(JSON.stringify(data) + "\n");
      }
    });
  }

</script>

</body>
</html>